0 * * * * root WORKSPACE=DEV TELEGRAM_TOKEN=553234853:AAGcvsUdPM62P0RMzif9UK5ZkUgOSdkjugg /usr/local/bin/python /web/tasks.py >> /var/log/cron.log 2>&1
* * * * * root echo "Im alive" >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
